# Core
streamlit
pandas
openpyxl
python-dateutil
bcrypt==4.1.3
extra-streamlit-components


# Logging & Utilities
loguru

# PDF parsing (for pdf_parser module)
pdfplumber
PyPDF2

# Excel/CSV helpers
xlrd
xlsxwriter

# Optional: for better performance with large CSVs
pyarrow

# If you’re dealing with environment variables
python-dotenv
